/* Display Control */

.content-intro, .content-questionnaire, .content-result {
  display: none;
}

.content-intro {
  font-family: var(--font-secondary);
}

body.active-intro .content-intro {
  display: block;
}

body.active-questionnaire .content-questionnaire {
  display: block;
}


body.active-result .content-result {
  display: block;
}

/* Basic Classes */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  padding: 1rem;
  color: var(--primary-color);
  /* Prevents body scrolling */
  /* overflow: hidden;  */
}

.background {
  position: fixed;
  width: 180%;
  height: 180%;
  top: 0;
  left: 0;
  background-image: url(../assets/img/test-map.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  /* min-width: 100px;
  min-height: 1000px; */
  position: absolute;
  cursor: grab; /* Changes cursor to grab hand */
}

#background:active {
  cursor: grabbing; /* Changes cursor to grabbing hand when active */
}

main {
  max-width: 800px;
  width: 100%;
  padding: 2rem;
  font-size: 1.4rem;
  border-radius: var(--radius-1);
  /* background: var(--tertiary-color); */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.07);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
  max-width: 800px;
  width: 100%;
  margin-bottom: 1rem;
  background: var(--tertiary-color);
  padding: 1rem;
  font-size: 3rem;
  position: sticky;
  top: 1rem;
}

/* Buttons */

button {
  background: var(--secondary-color);
  color: var(--tertiary-color);
  border-radius: 1000px;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  display: block;
  margin: 1rem auto;
}

/* Not need yet, maybe later */
/* toggle-button {

} */

.content-result__characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-result__character {
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 30%;
}

.content-result__character-card {
  border: 1px solid var(--secondary-color);
  background: var(--tertiary-color);
  margin: 0.25rem;
  padding: 1rem;
  border-radius: 1rem;
}

.content-result__character img {
  max-width: 100px;
  height: auto;
}

.content-result__best-match {
  text-align: center;
}